body {
    
    background: url(http://www.donwrightdesigns.com/my-first-cinemagram-moving-photo/) right bottom no-repeat, url(paper.gif) left top repeat;

    padding: 15px;
    
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

